
.chronoBox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    margin: auto;
    margin-top: 1vh;
    margin-bottom: 2vh;
    border: 3px solid #272727;
    border-radius: 8px;
    width: 23vw;
    box-shadow: 0 1px 1px rgba(0,0,0,0.25), 
              0 2px 2px rgba(0,0,0,0.20), 
              0 4px 4px rgba(0,0,0,0.15), 
              0 8px 8px rgba(0,0,0,0.10),
              0 16px 16px rgba(0,0,0,0.05);
}

.chonoText{
    margin: auto;
    margin-top: 0%;
    margin-left: 4vw;
    margin-right: 2.5vw;
    font-size: 5vh;
    width: 10vw;
    color: #e1e1e1;
}

.chronoButton{
    border-radius: 8px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0);
    color: #e1e1e1;
    border: 1px solid #272727;
    height: 5vh;
    box-shadow: 0 1px 1px rgba(0,0,0,0.25), 
              0 2px 2px rgba(0,0,0,0.20), 
              0 4px 4px rgba(0,0,0,0.15), 
              0 8px 8px rgba(0,0,0,0.10),
              0 16px 16px rgba(0,0,0,0.05);
}