.pointTaskBox{
    display: flex;
}

.pointTask{
    color: #e1e1e1;
    width: 5vw;
    word-wrap: break-word;
    margin-left: 3vw;
    font-weight: 900;
    font-size: 2vh;
}

.taskBox{
    display: flex;
    width: 23.25vw;
    text-align: center;
    margin: auto;
    margin-top: 1vh;
    margin-left: 0vw;
    border: 3px rgb(51, 51, 51) solid;
    border-radius: 8px;
    margin-left: -1vw;
}

.deleteButton{

    width: 2vw;
    font-size: 1.5vw;
    font-weight: 400;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #272727;
    color: #e1e1e1;
    background-color: #3b3b3b;
    box-shadow: 0 0px 0px rgba(0,0,0,0.10),
                0 0px 0px rgba(0,0,0,0.05),
                0 1px 1px rgba(0,0,0,0.25), 
                0 2px 2px rgba(0,0,0,0.20), 
                0 4px 4px rgba(0,0,0,0.15);  
    transition: background-color 0.5s , box-shadow 0.5s , min-height 0.5s ,height 0.75s ;
}


.deleteButton:hover{
    background-color: #444444;
    box-shadow: 
              0 1px 1px rgba(0,0,0,0.25),
              0 1px 1px rgba(0,0,0,0.20), 
              0 2px 2px rgba(0,0,0,0.15), 
              0 4px 4px rgba(0,0,0,0.10),
              0 8px 8px rgba(0,0,0,0.05);
}

.deleteButton:active{
    background-color: #3b3b3b;
    box-shadow: 0 0px 0px rgba(0,0,0,0.10),
                0 0px 0px rgba(0,0,0,0.05),
                0 0px 0px rgba(0,0,0,0.25), 
                0 0px 0px rgba(0,0,0,0.20), 
                0 0px 0px rgba(0,0,0,0.15);           
}


.taskText{
    color: #e1e1e1;
    width: 23vw;
    word-wrap: break-word;
    margin-left: 0vw;
    font-size: 2vh;
    margin: auto;

}

