.taskManagerManager{
    
    border-radius: 16px;
    width: 40vw;
    margin: auto;
    margin-top: 0%;
    background-color: #3b3b3b;
    box-shadow: 0 1px 1px rgba(0,0,0,0.25), 
              0 2px 2px rgba(0,0,0,0.20), 
              0 4px 4px rgba(0,0,0,0.15), 
              0 8px 8px rgba(0,0,0,0.10),
              0 16px 16px rgba(0,0,0,0.05);
  }

  .TMMTitle{
    display: flex;
    flex-direction: row;
    margin: auto;
    text-align: center;
    width: fit-content;
  
  }

  .TMMTitleText{
    margin: auto;
    font-size: 3vw;
    font-weight: 900;
    width: 10vw;
    letter-spacing: 0.5vw;
    color: #f7f7f7;
  }

  .TMMTitleButton{
    margin-top: 2vh;
    width: 5vh;
    height: 5vh;
    font-size: 3vh;
    font-weight: 700;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #272727;
    color: #e1e1e1;
    background-color: #3b3b3b;
    box-shadow: 0 1px 1px rgba(0,0,0,0.25), 
              0 2px 2px rgba(0,0,0,0.20), 
              0 4px 4px rgba(0,0,0,0.15), 
              0 8px 8px rgba(0,0,0,0.10),
              0 16px 16px rgba(0,0,0,0.05);
  }

.br{
    font-size: 0.25vh;
}